@import 'styles/variables.scss';

$breakpointMid: 767px;
// $breakpointSml: 859px;
// $breakpointXSml: 638px;

@mixin md {
    @media (max-width: #{$breakpointMid}) {
        @content;
    }
}

// @mixin sm {
//     @media (max-width: #{$breakpointSml}) {
//         @content;
//     }
// }

// @mixin x-sm {
//     @media (max-width: #{$breakpointXSml}) {
//         @content;
//     }
// }

.layout {


  &__container {
    // background-color: #000000;
    // opacity: 0.8;
    // background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 40px ), repeating-linear-gradient( #f7ec4555, #f7ec45 );

    // i like, but will need to fix the post page ...

    //CHG1
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;


  }

  &__contentIntro {
    //CHG3 aka "left-side"
    grid-column: 1 / 2;
    // position: relative;
    // left: 50px;

    @include md {
      position: relative;
      left: 30px;

    }
  }

  &__contentIntroImage {
    // border-radius: 9999px;
    // For the responsive image within this container

  }



  &__header {
    //CHG2
    // padding: 2rem;
    grid-column: 1 / 4;

    // display: flex;
    // flex-direction: column;  removes center aligning
    // align-items: center;
  }

  &__heading2Xl {
    // font-family: $PermanentMarker;
    font-family: 'ibm_vga8';
    color: rgb(199, 232, 216);
    font-size: 10rem;
    line-height: 1.2;
    // font-weight: 400;
    letter-spacing: 0.05rem;
    margin: 1rem 0;
  }

  &__heading2Xl:hover {
    color: orange;
  }

  &__headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  &__subHeading {
    font-size: 1.2rem;
    line-height: 1.5;
    // margin-left: 10rem;
    // display: flex;
    // justify-content: left;
    color: $green;
    // font-family: $RobotoCondensed;
    // font-family: 'Web437_IBM_VGA_8x16';
    font-family: 'ibm_vga8';
  }

  &__main {
    // __main contains all the posts, excerpts, dates etc.
    //CHG4
    grid-column: 2 / 3;



    @include md {
      grid-column: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 3.5rem;
    }

  }




  &__rightSidebar {
    //CHG5
    grid-column: 3 / 4;
  }

  &__footer {
    // do I even need this?
    grid-column: 1 / 4;
    // background-color: coral;

  }

  &__postContent {
    // padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__contentBlogItems {
    // border: dashed white 3px;
  }

  &__backToHome {
    margin: 3rem 0 0;
  }

  &__colorInherit {
    color: inherit;
  }

}
