.container {
    position: relative;
  }
  
  // would be cool if search styled like a old school terminal! with a blinking '>'
  .search {
    border: 1px solid #666;
    box-sizing: border-box;
    font-size: 18px;
    padding: 18px;
    width: 100%;
    outline: thick double #d6d6d6;
    color: white;
    background-color: black;
  }
  
  .results {
    list-style: none;
    overflow: hidden;
    margin: 9px 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .result {
    background: #0070f3;
    color: #eee;
    margin: 0 0 9px;
    padding: 18px;
  }
  
  .result a {
    color: #eee;
  }