@import '../../../styles/variables.scss';

.box {
    padding: 16px;
    // border-radius: 4px;
    // text-align: center;
    color: #f9efe9;
    font-weight: 700;
    background-color: $charcoal;
    // box-shadow: 0px 10px 10px rgba(0, 0, 0, .75);
    sbox-shadow: 8px 9px 0 0 #333;
    // box-shadow: 4px 3px 0 #7A7A7A;

  }