@import './variables.scss';

@font-face {
  font-family: 'ibm_vga8';
  src: url('../public/ibm_vga8.woff2') format('woff2');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'OCR A', Geneva, sans-serif;
  color: $weakWhite;
 // background-color: $grey;
 background-color: #2A2E35;
 // background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #b22612 4px ), repeating-linear-gradient( #45f7c055, #45f7c0 );
}

// root needed?

// #root {
//   height: 100%;
// }

* {
  box-sizing: border-box;
  margin: 0; // NB_Compton

}

a {
  // color: #0070f3;
  color: $strongWhite;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  // max-width: 100%;
  // display: block;

}

main {
  // background-color: rgb(226, 226, 226);
  // padding: 5rem;
}