@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $RobotoCondensed; // NB_COMPTON
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  //   Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  width: 100%;
  color: $weakWhite; // the post's main font color
  // background-color: rgb(26, 26, 29);  // entire page background color
  background-color: $darkCharcoal;
}

#root {  // root needed?
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0; // NB_Compton
}

a {
  // color: #0070f3;
  color: $strongWhite;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

main {
  // background-color: rgb(226, 226, 226);
  // padding: 5rem;
}