@import './variables.scss';

.heading2Xl {  // The big name "stuart Dear"
    font-family: $PermanentMarker;
    color: $strongWhite;
    font-size: 3rem;
    line-height: 1.2;
    // font-weight: 400;
    letter-spacing: 0.05rem;
    margin: 1rem 0;
  }

  .heading2Xl:hover::first-letter {
    color: orange;
  }


  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    color: $strongWhite;
  }

  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .subHeading {
    font-size: 1.2rem;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    color: $green;
    font-family: $RobotoCondensed;
  }

  .borderCircle {
    border-radius: 9999px;
  }

  .colorInherit {
    color: inherit;
  }

  .padding1px {
    padding-top: 1px;
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
  }

  .listItem {
    margin: 0 0 1.25rem;
  }

  .lightText {
    // color: #666;  // o.g. grey, looks okay.
    color: $green;
  }

  .tags a {  // added 'a' for specificity
    font-size: 0.75rem;
    color: coral;
  }
  .tags a:after {
    content: " - ";
  }
  .tags a:last-child:after {
    content: "";
  }