
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$RobotoCondensed: 'Roboto Condensed', sans-serif;
$PermanentMarker: 'Permanent Marker', sans-serif;

//colors
$dark: rgb(18, 24, 27);
$charcoal: rgb(42, 46, 53);
$darkCharcoal: rgb(18, 24, 28);
$grey: rgb(102, 102, 102);
$green: rgb(35, 185, 85);
$strongWhite: rgb(255, 255, 255);
$weakWhite: rgb(214, 214, 214);
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//border radius
$borderRadius: 12px;

//header height
$headerHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        //768px.
        @media (min-width: 48em) {
            @content;
        }
    }
}